body,p { 
    background-color: white;
/*    background-attachment: fixed;
   background-image: url('/static/wide_beer_background.png'); */
    background-position: center top;
    background-repeat: no-repeat;
    color: black;
    font-size:12pt; 
    font-family: "Georgia", serif;
    text-shadow:none; 
    font-weight:normal; 
    text-align:center;  
    margin:0pt;
    padding:10pt;
    padding:0;
}   

p { 
    background-color:transparent;
}

/* links */
/*
a {
    text-decoration: none;  
    color:lightblue; 
} 
a:hover {
    color:lightyellow; 
    text-shadow: 5px 5px 5px 5px black;
}


#wtf {
    text-decoration: none;  
    color:green; 
    text-shadow:1px 1px 1px  white;
} 
*/

/* border for everything */
/* right now just taking the one below and sort of inflating it */
.curvy_border
{ 
    margin:auto;
    border:20px solid; /* color not specified here, but should be specified in the element this border is FOR */
    -moz-border-radius:28px;
    -webkit-border-radius:28px;  
    border-radius:28px;
    background-color:black;
}

#outer_div 
{
    margin-top:10px;
    background-color:white;
    width:800;
    border:0px;  /*otherwise, for border of >0px,the color should be specified here*/
    border:10px black;
}

#header 
{
    clear:both;
    width:600px;
    margin:auto;
    margin-top:-40px;
    margin-bottom:-5px;
    /*background-color: #148c99; */ /* teal-ish */ 
    background-color: transparent;
/*    border:1px solid #148c99; */
}


#top_hello
{
    padding-bottom:10px;
    padding-top:10px;
    background-color: #148c99; 
    color:black;
    width:350px;
    height:150px;
    margin:auto;
 /*    margin-top:10px;
    margin-bottom:10px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;  
    border-radius:7px; */
    border:solid white; /*#148c99 */
}

#some_other_top_bar_thing
{ 
    vertical-align:top;
    padding:5px;
    background-color: #148c99; 
    color:black;
    width:200px;  
    float:center; 
    border:10px solid white; /*#148c99 */
    margin-right:-3px;
    display: inline-block;
}

#specifically_login_out_top_hello
{
    vertical-align:top;
    padding:8px;
    background-color: #148c99; 
    color:black;
    width:150px; 
    float:center;
    border:10px solid white; 
    margin-left:-4px;
    margin-top:2px;
    display: inline-block;
}


#pagecontainer {
    clear:both;
/*
    background-color:white;
    */
    background-color:transparent;
    padding-top: 100px;
    position: relative;
    width: 800px;
    min-height: 400px; 
    margin:auto;
 /*       margin-bottom:10px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;  
    border-radius:7px;
    border:1px solid #148c99; */
    font-weight: bold;
    font-size: 20px;
    font-family:"Georgia",serif;
    border:3px solid #148c99 ;
}

/* headings */
h1 {
    font-size:22pt; font-weight:bold; font-style:normal;
    text-shadow:1px 1px 1px #aaa; text-align:center;    
    padding-top:18pt; margin:0pt;    
    }   
h2 { font-size:15pt;  text-align:center; margin:0pt; } 
h3 {font-size:13pt;  text-align:center;margin:0pt;  padding-top:12pt;} 

/*.table */
table { 
    margin:auto;
    font-family: "Georgia", serif; 
    font-size: 12px;
    font-weight: bold;
    border-spacing:2px;
}

th  { 
    background-color: #148c99;  
    -moz-border-radius:17px 17px 0px 0px;
    -webkit-border-top-left-radius:17px;  -webkit-border-top-right-radius:17px;
    border-top-left-radius:17px; border-top-right-radius:17px;
    border:10px solid #148c99; 
    color: black; 
    padding-left:3px;padding-right:3px;padding-top:0px;padding-bottom:0px; 
}

td      {  
    padding-left:3px; padding-right:3px; padding-bottom:2px; padding-top:2px;
    font-weight: normal;    font-size: 12px; text-align:center;
    background-color:#97eaf4;  -moz-border-radius:1px;  -webkit-border-radius:1px;
    border-radius:1px; color:#000;  
        }

.empty { 
    /* background-color:white; border:white */
        background-color:transparent; 
        border:transparent;
    }

/* gray out songs that have been removed */
tr.grayed_out td{ 
    background-color:gray; 
    color:#aaa;  
}
/* red out songs that have been blocked*/
tr.redded_out  td{ 
    background-color:#b60000;
    color:#aaa;  
 }

/* my div's */
#the_big_songs_table {
    margin:20px;
}

.highlight {
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    font-size:12px;
    font-weight:normal; 
    text-shadow:none; 
    -mox-border-radius:17px 17px 0px 0px;
    -webkit-border-radius:17px;
    -webkit-border-radius:17px;
    border-radius:17px;
    border-radius:17px;
    display: inline-block;
}

#gray_highlight {
    background-color:gray;
    color:darkgray;
}

#red_highlight {
    background-color:#b60000; /* reddish */
    color:white;
}


#everythingSortableList {
/*    background: url('/static/some_picture.jpg') repeat-y scroll center top #148c99; */
    background-color: #148c99
    margin:0 auto;
    padding: 5px;
    position: relative;
    /* min-height: 600px; */
    font-size: 16px;
    font-weight: normal;
    color: black;
   } 

#hello {
    background-color: #148c99;
    -mox-border-radius:17px 17px 0px 0px;
    -webkit-border-top-left-radius:17px;
    -webkit-border-top-right-radius:17px;
    border-top-left-radius:17px;
    border-top-right-radius:17px;
    border:10px solid #148c99;
    border:25px solid #148c99;
    border-bottom:0px
    margin:0 auto;
    padding:6px;
    position:relative;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: "Georgia", serif;
    text-shadow:1px 1px 1px #222222;
    } 

/* headings */
h1 {
    font-size:22pt; font-weight:bold; font-style:normal;
    text-shadow:1px 1px 1px #aaa; text-align:center;     
    padding-top:18pt; margin:0pt;    
    }

h2 { 
    font-size:15pt;  
    text-align:center; 
    margin:0pt; 
} 

h3 {
    font-size:13pt;  
    text-align:center;margin:0pt;  
    padding-top:12pt;
} 

