/* border for everything */
/* right now just taking the one below and sort of inflating it */
.curvy_border
{ 
    margin:auto;
    border:20px solid; /* color not specified here, but in the element this border is FOR */
    -moz-border-radius:28px;
    -webkit-border-radius:28px;  
    border-radius:28px;
    background-color:black;
}

#outer_div 
{
    margin-top:10px;
    background-color:white;
    width:800;
    border:0px;  /*otherwise, for border of >0px,the color should be specified here*/
}

/* sooo????????
<div id="outer div" class="curvy border"> ?????????
*/

#header 
{
    width:600px;
    margin:auto;
    margin-top:-50px;
    /*background-color: #148c99; */ /* teal-ish */ 
    background-color: transparent;
/*    border:1px solid #148c99; */
}
#specifically_login_out_navbar
{
    margin-top:20px;
    vertical-align:center;
    padding:5px;
    background-color: #148c99; 
    color:black;
    width:150px; float: auto; 
    display: inline-block;
    border:solid white; /*#148c99 */
    margin-left:-2px;
}
#some_other_top_bar_thing
{ 
    vertical-align:center;
    padding:5px;
    background-color: #148c99; 
    color:black;
    width:200px;  float:center; 
    display: inline-block;
    border:solid white; /*#148c99 */
    margin-right:-2px;
}


#navbar
{
    padding-bottom:10px;
    padding-top:10px;
    background-color: #148c99; 
    color:black;
    width:350px;
    height:150px;
    margin:auto;
 /*    margin-top:10px;
    margin-bottom:10px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;  
    border-radius:7px; */
    border:solid white; /*#148c99 */
}



#mine
{
    margin: 10px;
    border-width:10px;
    border-color:black;
    padding: 10px;
    background-color:darkred;
    color:black;
}


.mynote {
    font-size:12px;
    font-style:italic;
    margin:20px;
    }


body,p { 
    font-size:25px;
    background-color: white;
/*    background-attachment: fixed;
   background-image: url('/static/wide_beer_background.png'); */
    background-position: center top;
    background-repeat: no-repeat;
    color: black;
    margin:0;
    padding:0;}

p { background-color:transparent;}

#pagecontainer {
    /*background: url('/static/wood.jpeg') repeat-y scroll center top #000000; */
    background-color:transparent;
    padding: 10px;
    position: relative;
    width: 600px;
    min-height: 400px; 
    margin:auto;
/*    margin-top:10px;
    margin-bottom:10px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;  
    border-radius:7px;
    border:1px solid #148c99; */
    font-weight: bold;
    font-size: 20px;
    font-family:"Georgia",serif
    border:900px red;
}

/* headings */
h1 {
    font-size:22pt; font-weight:bold; font-style:normal;
    text-shadow:1px 1px 1px #aaa; text-align:center;    
    padding-top:18pt; margin:0pt;    
    }   
h2 { font-size:15pt;  text-align:center; margin:0pt; } 
h3 {font-size:13pt;  text-align:center;margin:0pt;  padding-top:12pt;} 

/* links */
a       {text-decoration: none;  color:blue; text-shadow:1px 1px 1px  #222222;}
a:hover { color: white; text-shadow: 2px 2px 2px black; font-weight:bold;}

/*.table */
table { 
    margin:auto;
    font-family: "Georgia", serif; font-size: 12px;font-weight: bold;
    font-style: normal;    line-height: 1.4em; border-spacing:2px;}
th.empty { 
    background-color:white; border:white}
th{ 
    background-color: #148c99; -moz-border-radius:7px 7px 0px 0px;
    -webkit-border-top-left-radius:7px;  -webkit-border-top-right-radius:7px;
    border-top-left-radius:7px; border-top-right-radius:7px;
    border:10px solid #148c99; border-bottom:0px;
    color: white; text-shadow:1px 1px 1px  #222222;
    padding-left:3px;padding-right:3px;padding-top:0px;padding-bottom:6px; }

td      {  padding-left:3px; padding-right:3px; padding-bottom:2px; padding-top:2px;
        font-weight: normal;    font-size: 12px; text-align:center;
        background-color:#97eaf4;  -moz-border-radius:1px;  -webkit-border-radius:1px;
        border-radius:1px; color:#000; border-top:0px }
/* gray out songs that have been removed */
tr.grayed_out td{ background-color:gray; color:#aaa;  }
tr.redded_out td{ 
    background-color:#b60000;
    color:#fff;
 }

