/* while developing... this color background means mine, not youtube guy's */

#header 
{
    width:650px;
    margin:auto;
    background-color: #148c99; 
    border:3px black dotted;
    border:10px solid #148c99;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;  
    border-radius:7px;
    border:1px solid #148c99;
}
#specifically_login_out_navbar
{
    vertical-align:top;
    margin:auto;
    padding:5px;
    background-color: #148c99; 
    color:black;
    width:300px; float: auto; 
    display: inline-block;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;  
    border-radius:7px;
    border:1px solid #148c99;
}

#some_other_top_bar_thing
{ 
    vertical-align:top;
    padding:5px;
    margin:auto;
    background-color: #148c99; 
    color:black;
    width:300px;  float:center; 
    display: inline-block;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;  
    border-radius:7px;
    border:1px solid #148c99;
}


#navbar
{
    padding-bottom:15px;
    padding-top:0px;
    background-color: #148c99; 
    color:black;
    border:3px black dotted;
    width:350px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;  
    border-radius:7px;
    border:1px solid #148c99;
}


#mine
{
    margin: 10px;
    border-width:10px;
    border-color:black;
    padding: 10px;
    background-color:darkred;
    color:black;
}


.mynote {
    font-size:12px;
    font-style:italic;
    margin:20px;
    }


body,p { 
    font-size:25px;
    background-color: white;
/*    background-attachment: fixed;
   background-image: url('/static/wide_beer_background.png'); */
    background-position: center top;
    background-repeat: no-repeat;
    color: black;
    margin:0;
    padding:0;}

p { background-color:transparent;}

#pagecontainer {
    /*background: url('/static/wood.jpeg') repeat-y scroll center top #000000; */
    background-color:white;
    margin: 0 auto;
    margin-top:10px;
    padding: 5px;
    position: relative;
    width: 800px;
    min-height: 400px; 
    font-weight: bold;
    font-size: 20px;
    font-family:"Georgia",serif}

/* headings */
h1 {
    font-size:22pt; font-weight:bold; font-style:normal;
    text-shadow:1px 1px 1px #aaa; text-align:center;    
    padding-top:18pt; margin:0pt;    
    }   
h2 { font-size:15pt;  text-align:center; margin:0pt; } 
h3 {font-size:13pt;  text-align:center;margin:0pt;  padding-top:12pt;} 

/* links */
a       {text-decoration: underline;  color:blue; text-shadow:1px 1px 1px  #222222;}
a:hover { color: yellow; text-shadow: 3px 3px 3px black;}

/*.table */
table { 
    margin:auto;
    font-family: "Georgia", serif; font-size: 12px;font-weight: bold;
    font-style: normal;    line-height: 1.4em; border-spacing:2px;}
th.empty { 
    background-color:white; border:white}
th{ 
    background-color: #148c99; -moz-border-radius:7px 7px 0px 0px;
    -webkit-border-top-left-radius:7px;  -webkit-border-top-right-radius:7px;
    border-top-left-radius:7px; border-top-right-radius:7px;
    border:10px solid #148c99; border-bottom:0px;
    color: white; text-shadow:1px 1px 1px  #222222;
    padding-left:3px;padding-right:3px;padding-top:0px;padding-bottom:6px; }

td      {  padding-left:3px; padding-right:3px; padding-bottom:2px; padding-top:2px;
        font-weight: normal;    font-size: 12px; text-align:center;
        background-color:#97eaf4;  -moz-border-radius:1px;  -webkit-border-radius:1px;
        border-radius:1px; color:#000; border-top:0px }
/* gray out songs that have been removed */
tr.grayed_out td{ background-color:gray; color:#aaa;  }
tr.redded_out td{ 
    background-color:#b60000;
    color:#fff;
 }

