<html>
<head>
    <link rel='stylesheet' type='text/css' href='/static/style.css' /> 
<head>
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
<body>

<div id="outer_div" class="curvy_border">

<div id="top_hello" class="curvy_border"> 
    <h1> Djukebox</h1>
    {% if user.is_authenticated %}
        <h3>Hi, {{ user.username }}.</h3>
    {% else %}
        <h3>Hello, anonymous listener.</h3>
    {% endif %}
</div> <!-- top_hello --> 

<div id='header'>
    <div id="some_other_top_bar_thing" class="curvy_border"> 
        <p> <a href='/list/'>List of all songs</a></p>
        <p><a href='/covers/'>Covers flow thing</a> </p>
        <p><a href='/simtags/'>Find similar songs</a> </p>
    </div>

    <div id="specifically_login_out_top_hello" class="curvy_border">
        {% comment %}So there's a conditional here... 
            IF this is coming from login.html, the form will fill the block 'login.'
            Otherwise, the parent template (base.html) will fill it in with just the link to /login/.  {% endcomment %}

        {% if user.is_authenticated %} 
               <p><a href="logout/">Logout</a></p>
        {% else %} 
             <p>{% block login %}<a href="login/">Login</a>{% endblock %}</p>
             <p><a href="register/">Register</a></p>
        {% endif %}
    </div>
</div> <!-- header --> 

    <div id="pagecontainer" class="curvy_border" >
        {% block content %} {% endblock %}
    </div>


</div> <!-- outer_div -->



</center>
</body>
</html>
