<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}The Jukebox{% endblock %}</title>
    <!--  ????????????????????????????????  like this???  --> 
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
</head>

<body><center>
    <h1>Django Djukebox</h1><br><hr>


<table><tr><td style="background-color:YELLOW; border:5px solid brown;"> 
ok asshole.something is still not right with the include thing. why aren't the fields showing up right away? 
<!-- determine whether Owner (print greeting with name and logout or just Listener (print greeting and log-in fields) -->
    {% if user.is_authenticated %}
        <i>(SO USER **IS*** AUTHENTICATED) </i><br>
        <h2> Hello, {{ user.username }}.</h2>
            So I need to include... what.... registration/logout.html?
      {% comment %}
            {% include "registration/logout.html" %} <!-- hardcoded, ugh -->
      {% endcomment %}
        <form action="/logout/" method="post">
            <input type="submit" name="submit" value="Logout" />
        </form>
    {% else %}
        <i>(SO USER IS ***NOT*** AUTHENTICATED) </i><br>
        <b>Jukebox owners</b>: <br>
 <table><tr><td style="background-color:LIGHTRED border:5px dotted black">
            {% include "registration/login.html" %} <!-- hardcoded, ugh -->
              
    </td></tr></table> 

      {% comment %}
    <table><tr><td style="background-color:LIGHTGREEN; border:2px black solid;">       . ...................... . .. ........   so here is the
    login_content block that's within song_list.html .. ....<br>
           {% block login_content %}{% endblock %}
           . . ...    and ended ..................................  
    </td></tr></table>
    {% endcomment %}

    {% endif %}
    </td></tr></table>


    <table><tr><td style="background-color:RED; border:5px dotted brown">
    
    {% comment %}
        <table><tr><td style="background-color:ORANGE; border:5px dotted black">
            <br><br> |================   (B) this is calling login_content from within base.html ================<br>
            {% block login_content %}{% endblock %}
            ========================= end that (from within base.html) ==========| (B)<br><br><br>  
       </tr></td></table>
    {% endcomment %}    
   
   </td></tr></table>
   
    {% comment %}
        {% block search_jukebox %}{% endblock %}
        {% block just_played %}{% endblock %}
    {% endcomment %}    
        {% block jukebox_etc %}{% endblock %}

</center></body>
</html>
