{% extends 'base.html' %}


{% block login %}

    <form action="" method="post">
        {% csrf_token %}    {% comment %} csrf token: cross-site request forgery token -- limits the 
        posts from this form to the domain the form is on, so can't actually submit to this form 
        from an external domain, so will stop cross-site scripting attacks. (if embedding this 
        from another domain, have to use @csrf_exempt decorator ) {%  endcomment %} 

        {% if form.errors %}
                <p class='error'>Please correct the following fields (form.errors is {{ form.errors }}:</p>
        {% endif %}

        <div class = 'register_div'>
                {% if form.username.errors %}<p class='error'>{{ form.username.errors }}</p>{% endif %}
                <p><label for='username' {% if form.username.errors %} class='error' {% endif %}>Username:</label></p>
                <p>{{ form.username }}</p>
        </div>
        
        <div class='register_div'>
                {% if form.password.errors %}<p class='error'> {{ form.password.errors }}</p>{%endif%}
                <p><label for='password' {% if form.password.errors %} class='error' {%endif%}>Password:</label></p>
                <p>{{ form.password}}</p>
        </div>

        <p><input type='submit'  alt='submit' /></p>

    </form>

    <p>Forgot password? <a href='/resetpassword/'>Reset it.</a></p>

{% endblock %}
