{% extends "base.html" %}

<!--
{% block search_jukebox %}
    <h3>Search for song, artist, or album:</h3>
    <form action="/search/" method="get">
        {% comment %} csrf token: cross-site request forgery token -- limits the posts from this form to the domain the form is on, so can't actually submit to this form from an external domain; so will stop cross-site scripting attacks. If embedding this from another domain, have to use @csrf_exempt decorator {% endcomment %}
        {% csrf_token %} 
        <input type="text" name="search_for">
        <input type="submit" value="Search">
    </form><br>
{% endblock %} 
-->


{% block content %}
    <p>Click on a heading to sort.</p>
     {% if user.is_authenticated %}
        <div class='highlight' id='gray_highlight'>Removed songs/albums are grayed out.</div> 
        <div class='highlight' id='red_highlight'>Blocked songs are in red.</div>
    {% endif %}
 
    {% comment %} display song just played, if just played one {% endcomment %} 
    {% if just_played %}
    <div id="just_played" class="curvy_border">
        <h3>djust played:</h3> 
        <p>{{ just_played.name}} by {{just_played.get_artist}} ({{just_played.album}})</p>
    </div>
    {% endif %}



<div id="the_big_songs_table">
{% if object_list %}
    <!-- the actual table of all songs, constructed for Owners or Listeners (=Anonymous users) -->
    <table>
        <thead><tr>
<!--            <th width=10px><a href="?sort_by=id">(temp) id</a></th> -->
            <th style="width:10px;" class="empty"></th>
            <th style="width:125px;"><a href="?sort_by=name">Song</a></th>
            <th style="width:100px;"><a href="?sort_by=album">Album</a></th>
            <th style="width:100px;">Artist</th>
           <!-- <th><a href="?sort_by=artist">Artist</a></th>   -->
            <th width=10px><a href="?sort_by=-playcount">Song play count</a></th>
            <th width=20px>Tags<br>(everybody's)</th>
            {% if user.is_authenticated %}
                <th width=20px>Tags<br>(djust {{user.username}}'s/yours)</th>
                <th width=10px>Remove from/ Add to djukebox<br>or<br>Block/ Unblock song </th>
            {% endif %}
        </tr></thead>  

        <tbody>
        {% for song in object_list %}
                {% if not song.is_removed and not song.blocked %}
                <tr>
                    <td>
                        <form action = "/play/" method="get">   
                            {% csrf_token %} 
                            <input type="hidden" name="song_id" value='{{ song.id }}'>
                            <input type="submit" name="submit" value="Play">
                        </form>
                    </td>
                {% elif song.is_removed and user.is_authenticated %}  
                    <tr class="grayed_out">
                        <td class="empty"></td>
                {% elif  song.blocked and user.is_authenticated %}  
                    <tr class="redded_out">
                        <td class="empty"></td>
                {% endif %}
                {% if not song.blocked and not song.is_removed or user.is_authenticated %}
                        <td>{{ song.name }}</td>
                        <td>{{ song.album}}</td>
                        <td>{{ song.get_artist }}</td>
                        <td>{{ song.playcount }}</td>
                        <td width="20px">insert tags - song.tags or get_tags or ....</td>
                {% endif %}
   
                       {% if user.is_authenticated %} 
{% comment %}
    If song('s album) is removed, NO 'unblock song', NO 'block song' button, no matter what the song's status actually is. 
    If song('s album) is NOT removed, then have 'Add album' button. 
    But if it's ALSO blocked, have 'Unblock song' button.
    Otherwise, 'block song' button
{% endcomment %}
                    <td width="20px">insert user tags</td>
                    <td>
                        <form action="/song_change/{{song.id}}/" method="post">
                            {% csrf_token %} 
                            {% if song.is_removed %}  
                                 <input type="submit" name="add_album"  value="Add album"> 
                            {% else %}   {%comment%}  song/album is NOT removed {%endcomment%}
                                 <input type="submit" name="remove_album"  value="Remove album"> 
                                {% if song.blocked %}  
                                    <input type="submit" name="unblock_song"  value="Unblock song">
                                {% else  %}  {%comment%} song is NOT blocked {%endcomment %}
                                    <input type="submit" name="block_song"  value="Block song">
                                {% endif %}
                            {% endif %}
                            {% endif %}
                        </form>
                      </td>
                   </tr>


  {% comment %}  TO DO: improve the above logic with the following in views and css:
 def get_classes(self):
	if song.is_removed:
        song_class = “song_removed”
    else:
	    song_class = “song_not_removed”

    if song.album.is_removed:
	    album_class = “album_removed”
    else:
	    album_class = “album_not_removed”

    return “%s %s” % (song_class, album_class)

	# in css:

	element.song_removed.album_removed {...}
	element.song_removed.album_not_removed {...}
	element.song_not_removed.album_removed {...}

  {% endcomment %}


    {% endfor %}
    </tbody>
    </table>
</center>
{% else %}
    <p> no objects_list ! </p>
        <p>    context: {{ context }}</p>
    <p>locals: {{ locals }}</p>
    <p>request: {{ request}}</p>
{% endif %}
</div> <!--- the_big_songs_table -->

{% endblock %}   <!-- content -->


