{% extends 'base.html' %}

{% block content %}
    <div id='beerslist'>  <hr>...... begin div id=beerslist...............
        {% for beer in beers %}  <!-- beers is passed in through context variable --> 
           <p> <a href='/beers/{{ beer.slug }}/'> {{ beer }} </a> </p>  <!-- note the use of slug! --> 
           <p> <img src="/{{ beer.image1.url }}"> linking to beer.image1.url.... </p>
        {% endfor %}
          <p> Note.......screwed up with the path to the pics, put beerthumbs just next to settings... but I don't want to redo the stupid db, so whatever.  See that preceding slash there takes care of it. Or does it...</p>
           <p>update... well... it doesn't help. but fuck it. moving on. 
    </div>...... end div id=beerslist...............<hr>

{% endblock %}
